*{ 
    margin: 0; 
}
body{ 
    padding: 300px 50px;
}
#banner_wrap{
    position: relative;
    width: 600px;
}
#banner{
    width:600px;
    height: 0px;
    position: relative;
    overflow: hidden;
    background: url('../images/05_images/bg.png');
    border-bottom: 1px solid #666;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    transition-duration: 0.5s;
}
#banner.active{
    height: 190px;
    border: 1px solid #ccc;
}
#banner:hover{
    cursor: pointer;
}
#banner img{
    display: block;
    position: absolute;
}
#sound_btn{
    position: absolute;
    left: 10px; bottom: 10px;
    outline: none;
}
#toggle{
    position: absolute;
    right: 0; 
    bottom: -18px;
    background: #666;
    color: white;
    font-size: 12px; 
    line-height: 18px;
    padding: 0 5px;
    text-decoration: none;
}
#toggle:hover{ 
    text-decoration: underline; 
}
